.admin-container{
    display: flex;
    color: #e3cccc;
    .admin-sidebar{
        .css-dip3t8 {
            position: relative;
            height: 100vh;
            overflow: hidden;
            z-index: 3;
            /* background-color: rgb(249, 249, 249, 0.7); */
        }
    }
}

